<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <app-sound-grid-controls 
      [drawer]="drawer" 
      [isPlaying]="isPlaying"
      (addColumns)="addColumns()"
      (clear)="resetGrid()"
      (playback)="startPlayback()"
      (stop)="stopPlayback()"
    ></app-sound-grid-controls>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      @if (!drawer.opened) {
        <mat-icon id="menu-icon" (click)="drawer.open()">menu</mat-icon>
      }
      <div class="neon-text"><span>N</span>EON.<span>D</span>J</div>
      <div class="controls__container">
        <div class="controls__instruments">
          @for (category of instrumentCategories; track category) {
          <div class="controls__instrument-category">
            <h3>{{ category.name }}</h3>
            <div class="controls__instrument-buttons">
              @for (instrument of category.instruments; track instrument) {
              <button
                mat-raised-button
                color="primary"
                [style.backgroundColor]="
                  instrument === currentInstrument
                    ? instrumentColors[instrument]
                    : null
                "
                [style.color]="instrument === currentInstrument ? '#000' : null"
                (click)="selectInstrument(instrument)"
              >
                {{ instrument }}
              </button>
              }
            </div>
          </div>
          }
        </div>
      </div>
      <app-tempo-lever (tempoChange)="setTempo($event)"></app-tempo-lever>
      <div class="grid-container">
        <div class="grid">
          <div
            class="playback-line"
            [style.left]="getPlaybackLinePosition()"
          ></div>
          @for (row of grid; track row; let i = $index) {
          <div class="row">
            @for (cell of row; track cell; let j = $index) {
            <div
              class="cell"
              [class.active]="cell.active"
              [class.playing]="currentColumn === j && isPlaying"
              [style.backgroundColor]="
                cell.active ? instrumentColors[cell.instrument] : '#573a46'
              "
              (click)="toggleCell(i, j)"
            ></div>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
