<div class="container">
  <div class="neon-text">
    <span>N</span>EON.<span>D</span>J
  </div>
  <div class="controls__container">
    <div class="controls__instruments">
      @for (category of instrumentCategories; track category) {
        <div class="controls__instrument-category">
          <h3>{{ category.name }}</h3>
          <div class="controls__instrument-buttons">
            @for (instrument of category.instruments; track instrument) {
              <button 
                mat-raised-button
                color="primary"
                [style.backgroundColor]="instrument === currentInstrument ? instrumentColors[instrument] : null"
                (click)="selectInstrument(instrument)">
                {{ instrument }}
              </button>
            }
          </div>
        </div>
      }
    </div>
    <!-- <div class="controls__grid">
      <input 
        type="text" 
        [(ngModel)]="gridName" 
        placeholder="Grid name"
        class="grid-name-input"
      >
      <button (click)="saveGrid()">Save Grid</button>
      <select [(ngModel)]="selectedGridId" class="grid-select">
        <option value="">Select a grid</option>
        @for (grid of savedGrids; track grid) {
          <option [value]="grid.id">{{ grid.name }}</option>
        }
      </select>
      <button (click)="loadGrid()">Load Grid</button>
      <button (click)="deleteGrid()">Delete Grid</button>
    </div> -->
  </div>
  <div class="button-group">
    <app-tempo-lever (tempoChange)="setTempo($event)"></app-tempo-lever>
    <button class="btn play-button" (click)="startPlayback()">Play</button>
    <button class="btn stop-button" (click)="stopPlayback()">Stop</button>
    <button class="btn reset-button" (click)="resetGrid()">Reset</button>
    <button class="btn" (click)="addColumns()">Add</button>
  </div>
  <div class="grid-container">
    
    <div class="grid">
      <div class="playback-line" [style.left]="getPlaybackLinePosition()"></div>
      @for (row of grid; track row; let i = $index) {
        <div class="row">
          @for (cell of row; track cell; let j = $index) {
            <div
              class="cell"
              [class.active]="cell.active"
              [class.playing]="currentColumn === j && isPlaying"
              [style.backgroundColor]="getCellColor(cell)"
              (click)="toggleCell(i, j)">
            </div>
          }
        </div>
      }
    </div>
  </div>
  
  
</div>
